<form #formData='ngForm' (ngSubmit)="simpanData()">
    <div class="modal-header">
        <h4 class="modal-title">Edit User</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="email" [(ngModel)]="dataUser.email"
            name="email" disabled>
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
            <input type="username" class="form-control" id="floatingUsername" placeholder="username" [(ngModel)]="dataUser.username"
            name="username" required>
            <label for="floatingUsername">Username</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" placeholder="password" [(ngModel)]="dataUser.password"
            name="password" disabled>
            <label for="floatingPassword">Password</label>
        </div>

        <div class="form-floating mb-3">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp"
                        [(ngModel)]="dataUser.birthday" id="floatingDate" ngbDatepicker #d="ngbDatepicker"
                        (click)="d.toggle()" />
            <label for="floatingDate">Birthday</label>
        </div>

        <div class="mb-3 text-left">
            <label>Description <small>(optional)</small></label>
            <textarea type="text" class="form-control" placeholder="Write your description"
                [(ngModel)]="dataUser.desc" name="description" rows="5"></textarea>
        </div>

        
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" [disabled]="!formData.valid">Simpan</button>
    </div>
</form>