<mat-nav-list>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/product-list">Recipes</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/list-user">List User</a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/user">
        <mat-icon>
            settings
        </mat-icon>
        Settings
    </a>
</mat-nav-list>